html {
    font-family: Aptos, sans-serif;
}

body {
    font-family: Aptos, sans-serif;
    background: linear-gradient(60deg, yellow, orange, purple, navy);
    background-size: cover;
    height: 100vh;
}

header h1 {

    text-shadow: 4px 4px black;
    color: #f8f7f5;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 5px;

}

h2 {

    text-shadow: 4px 4px black;
    color: #f8f7f5;
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 50px;

}

nav {
    border-top: white solid 4px;
    border-bottom: white solid 4px;
    padding: 10px 20px;
}

nav ul {


    margin-right: 40px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

a {
    background: purple;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
}

p {
    font-size: 20px;
    margin: 0 0 5px;
    padding: 20px 30px;

}


img {
    --b: 10px;
    --g: 25px;
    --c: purple;


    padding: calc(var(--g) + var(--b));
    --_g: no-repeat linear-gradient(var(--c) 0 0);
    background:
        var(--_g) var(--_i, 0%) 0,
        var(--_g) 100% var(--_i, 0%),
        var(--_g) calc(100% - var(--_i, 0%)) 100%,
        var(--_g) 0 calc(100% - var(--_i, 0%));
    background-size: var(--_i, 0%) var(--b), var(--b) var(--_i, 0%);
    transition: .4s, background-position 0s;
    cursor: pointer;

    width: 30%;
    object-fit: cover;
}

img:hover {
    --_i: 100%;
}